*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    padding: 20px 200px 20px 200px;
}    

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
align-items: flex-start;
}
.logo{
    width: 20%;
}

nav{
    width: 40%;
}
.header_right-side{
    width: 20%;
}


header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
